[submodule "NetworkManager-l2tp"]
	path = NetworkManager-l2tp
	url = git@codeberg.org:tetov/NetworkManager-l2tp.git
	branch = f36
[submodule "libreswan"]
	path = libreswan
	url = git@codeberg.org:tetov/libreswan
	branch = f36
